<!DOCTYPE html>

<html>
    <head>
        <title>ChatNode</title>
        <style>
        *   { margin: 0; padding: 0; box-sizing: border-box; }
            body { font: 13px Helvetica, Arial; }
            form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
            form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
            form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
            #messages { list-style-type: none; margin: 0; padding: 0; }
            #messages li { padding: 5px 10px; }
            #messages li:nth-child(odd) { background: #eee; }
        </style>
    </head>
    <body>
        <h1>Le Chat réalisé en Node.js !</h1>

        <section id="zone_chat"></section>
        
        <form action="/" method="post" id="form_chat">
            <input id="message" autocomplete="off" /><button type="submit" id="send_message">Send</button>
        </form>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');
            
            var pseudo = prompt('Quel est votre pseudo ?');
            socket.emit('new_user', pseudo);

            document.title = pseudo + '-' + document.title;

            socket.on('message', function(data){
                insereMessage(data.pseudo, data.message);
            });

            $('#form_chat').submit(function () {
                var message = $('#message').val();
                socket.emit('message', message); // Transmet le message aux autres
                insereMessage(pseudo, message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

            function insereMessage(pseudo, message) {
                $('#zone_chat').prepend('<p><strong>' + pseudo + '</strong> ' + message + '</p>');
            }
        </script>
    </body>
</html>